@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato{
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
}

/* react slick */
.slick-slide > div{
    margin: 0 10px
}

.modalCircle{
    background: linear-gradient(180deg, #FFFFFF 5%, #999999 100%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.smallModalCircle{
    width: 30px;
    height: 30px;
    background-color: #66B978;
    border-radius: 50%;
}