/* .circleHouse{
    position: relative;
    margin: 5% 0 0 0;
}

.firstCircle{
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 0;
    right: -5%;
    background-color: #F5FBF6;
} */

